# Ignore everything
*
*/**

# Whitelist files
!LICENSE
!CHANGELOG.md
!package.nls*.json
!out/
!l10n/

!resources/icon.png
!resources/webview-icon.svg
!resources/webview-icon-dark.svg
!resources/webview-icon-light.svg

!docs/git-actions.md
