# Ignore everything
*
*/**

# Whitelist files
!LICENSE
!README.md
!CHANGELOG.md
!package.nls*.json
!out/
!l10n/

!resources/icon.png
!resources/webview-icon.svg
!resources/webview-icon-dark.svg
!resources/webview-icon-light.svg

# The user guide that Learn more opens. Contributor documents stay in the repository; the
# README's links to them point there once packaged.
!docs/git-actions.md

!walkthroughs/
